<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suyh0201.mp.mysql.mapper.business.SchedulingTransferRecordMapper">

    <resultMap id="SchedulingTransferRecordEntity" type="com.suyh0201.business.entity.mysql.business.SchedulingTransferRecordEntity">
        <id column="id" property="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="code" property="code" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="pnum" property="pnum" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="pay_type" property="payType" jdbcType="TINYINT" javaType="com.suyh0201.sys.constant.enums.PayTypeEnums"/>
        <result column="tpp" property="tpp" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="card_no" property="cardNo" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="account" property="account" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="swift" property="swift" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="receiver_uid" property="receiverUid" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="amount" property="amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        <result column="real_amount" property="realAmount" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        <result column="cp_order" property="cpOrder" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="svip_order_no" property="svipOrderNo" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="mchnt_order_no" property="mchntOrderNo" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="uid" property="uid" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="pn" property="pn" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="pkg" property="pkg" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="channel" property="channel" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="status" property="status" jdbcType="TINYINT" javaType="com.suyh0201.sys.constant.enums.TransferStatusEnums"
                typeHandler="com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler"/>
        <result column="score" property="score" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="mtime" property="mtime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="created" property="created" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="dates" property="dates" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="transfer_order_no" property="transferOrderNo" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="utr" property="utr" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="order_audit_status" property="orderAuditStatus" jdbcType="TINYINT" javaType="com.suyh0201.sys.constant.enums.OrderAuditStatusEnums"
                typeHandler="com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler"/>
        <result column="audit_user_id" property="auditUserId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="audit_user_nick" property="auditUserNick" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="order_info" property="orderInfo" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="logistics_info" property="logisticsInfo" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="audit_remark" property="auditRemark" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="reason" property="reason" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="scheduling_count" property="schedulingCount" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="origin" property="origin" jdbcType="TINYINT" javaType="com.suyh0201.sys.constant.enums.OrderOriginEnums"/>
        <result column="origin_id" property="originId" jdbcType="BIGINT" javaType="java.lang.Long"/>
    </resultMap>

</mapper>